@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="card-title display-6" style="color:#FFFFFF">Bienvenido a la pagina de mi primer proyecto en ASP</h1>
    </div>
    <div class="EstiloContenedr">
        <div class="ContenedorIma ">
            <img class="EstiloImg" src="~/Images/GaticoIntelectualoide.png" alt="">
        </div>
        <div class="Estiloall" style="color:#FFFFFF">
            <div class="text-center fs-6 fw-light">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis adipisci blanditiis, unde aliquam
                    repellat,
                    ratione reprehenderit voluptates delectus perspiciatis eos dolorum non quidem beatae odit
                    dignissimos
                    expedita
                    autem quae. Illo?</p>
            </div>
        </div>
    </div>
</div>